In [236]:
# Dependencies
from bs4 import BeautifulSoup
import requests

from splinter import Browser
import pandas as pd

In [54]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'html.parser')

In [57]:
# Examine the results, then determine element that contains sought info
# results are returned as an iterable list
news_title=soup.find('div', class_='content_title').text
news_paragraph=soup.find('div', class_='rollover_description_inner').text
print(news_title)
print(news_paragraph)

NASA Readies Perseverance Mars Rover's Earthly Twin



Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.

In [138]:
# Find Mars image on NASA website / executable path with chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [139]:
# URL we are visiting
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [140]:
# Navigate to FULL IMAGE
browser.click_link_by_partial_text('FULL IMAGE')

In [141]:
# Navigate to more info page
browser.click_link_by_partial_text('more info')

In [142]:
# Navigate to .jpg page
browser.click_link_by_partial_href('largesize')

C:\Users\djack\anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:485: FutureWarning: browser.find_link_by_partial_href is deprecated. Use browser.links.find_by_partial_href instead.
  FutureWarning,

In [143]:
# Save image url
featured_image_url= browser.url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17171_hires.jpg

In [237]:
# Scrape Mars stats table and convert to a dataframe
table_url='https://space-facts.com/mars/'

In [238]:
# Show scraped tables from URL
Mars_table = pd.read_html(table_url)
Mars_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [239]:
# Put tables into a dataframe
df= Mars_table[0]
df.columns=['Characteristics', 'Stats']
df

        Characteristics                          Stats
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [240]:
# convert to HTML
html_table=df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Characteristics</th>\n      <th>Stats</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [241]:
# clean up html -- remove unncessary breaks
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Characteristics</th>      <th>Stats</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [243]:
# convert to HTML file
df.to_html('Mars_table.html')

In [220]:
# URL we are visiting -- MARS HEMISPHERES
executable_path = {'executable_path': 'chromedriver.exe'}
browser_2 = Browser('chrome', **executable_path, headless=False)

In [221]:
url_2 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser_2.visit(url_2)

In [222]:
# Navigate to Cerberus info page
browser_2.click_link_by_partial_text('Cerberus')

In [223]:
# Navigate to sample page -- Cerberus.jpg
browser_2.click_link_by_partial_text('Sample')

In [224]:
# Save Cerberus.jpg URL
Cerberus_image_url=browser_2.windows[1].url
print(Cerberus_image_url)

https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg

In [227]:
# Navigate to .jpg page -- Schiaparelli.jpg
browser_2.back()
browser_2.click_link_by_partial_text('Schiaparelli')
browser_2.click_link_by_partial_text('Sample')
Schiaparelli_image_url=browser_2.windows[2].url
print(Schiaparelli_image_url)

https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg

In [228]:
# Navigate to .jpg page -- Syrtis.jpg
browser_2.back()
browser_2.click_link_by_partial_text('Syrtis')
browser_2.click_link_by_partial_text('Sample')
Syrtis_image_url=browser_2.windows[3].url
print(Syrtis_image_url)

https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg

In [230]:
# Navigate to .jpg page -- Valles.jpg
browser_2.back()
browser_2.click_link_by_partial_text('Valles')
browser_2.click_link_by_partial_text('Sample')
Valles_image_url=browser_2.windows[4].url
print(Valles_image_url)

https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [233]:
# Put image URLS in dictionary
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": Valles_image_url},
    {"title": "Cerberus Hemisphere", "img_url": Cerberus_image_url},
    {"title": "Schiaparelli Hemisphere", "img_url": Schiaparelli_image_url},
    {"title": "Syrtis Major Hemisphere", "img_url": Syrtis_image_url},
]
df= pd.DataFrame(hemisphere_image_urls)
df

,title,img_url
0,Valles Marineris Hemisphere,https://astropedia.astrogeology.usgs.gov/downl...
1,Cerberus Hemisphere,https://astropedia.astrogeology.usgs.gov/downl...
2,Schiaparelli Hemisphere,https://astropedia.astrogeology.usgs.gov/downl...
3,Syrtis Major Hemisphere,https://astropedia.astrogeology.usgs.gov/downl...

In [34]:

# Loop through returned results
# for result in results:
#     # Error handling
#     try:
#         # Identify and return title of listing
#         title = result.find('div', class_='content_title').text
#         # Identify and return price of listing
#         paragraph = result.find('div', class_='rollover_description_inner').text
        
#         # Run only if title, price, and link are available
#         if (title and paragraph):
#             # Print results
#             print('-------------')
#             print(title)
#             print(paragraph)
            
            

#             # Dictionary to be inserted as a MongoDB document
#             post = {
#                 'title': title,
#                 'paragraph': paragraph
#             }

#             collection.insert_one(post)

#     except Exception as e:
#         print(e)

stories = db.stories.find()
for story in stories:
    print(story)